@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-700;
  background: #fafafa;
}

button:disabled,
input:disabled,
textarea:disabled,
select:disabled {
  @apply cursor-not-allowed;
}

.box-equal {
  @apply flex items-center;
}

.box-center {
  @apply flex items-center justify-center;
}

.box-between {
  @apply flex items-center justify-between;
}

.box-end {
  @apply flex items-center justify-end;
}

.btn-primary {
  @apply rounded-lg bg-primary-700 py-[10px] text-sm font-bold text-white;
}

.btn-primary-no-padding {
  @apply bg-primary-700 text-sm font-bold text-white;
}

.btn-secondary-no-padding {
  @apply bg-primaku-green-300 text-sm font-bold text-white;
}

.btn-secondary-no-padding-outline {
  @apply border border-primaku-green-300 text-sm font-bold text-primaku-green-300;
}

.btn-primary-no-padding-outline {
  @apply border border-primary-700 text-sm font-bold text-primary-700;
}

.btn-tertiary-no-padding-outline {
  @apply border border-primaku-grey-400 text-sm font-bold text-primaku-grey-600;
}

.btn-tertiary {
  @apply rounded-lg border border-neutral-200 bg-white px-4 py-[10px] text-sm font-bold text-neutral-700;
}

.btn-tertiary-no-padding {
  @apply border border-neutral-200 bg-white text-sm font-bold text-neutral-700;
}

.btn-primary-outline {
  @apply box-equal gap-2 rounded-lg border border-primary-700 px-4 py-[10px] text-sm font-semibold text-primary-700;
}

.btn-primary-outline-full {
  @apply box-equal gap-2 rounded-[20px] border border-primary-700 px-4 py-[10px] text-sm font-semibold text-primary-700;
}

.btn-primary-ghost {
  @apply box-equal gap-2 rounded-lg text-sm font-semibold text-primary-700;
}

.btn-primary-outline-small {
  @apply box-equal gap-2 rounded-lg border border-primary-700 px-4 py-2 text-sm font-semibold text-primary-700;
}

.btn-secondary {
  @apply box-center gap-2 rounded-lg bg-neutral-100 text-sm font-semibold text-primary-700;
}

.btn-box {
  @apply box-center h-9 w-9 rounded-lg bg-primaku-neutral-100;
  box-shadow:
    0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.btn-box-no-bg {
  @apply box-center h-9 w-9 rounded-lg border;
}

.btn-danger:disabled {
  @apply border-gray-400 opacity-75;
}

.btn-danger {
  @apply box-equal gap-2  rounded-[20px] border border-danger-500  font-semibold text-danger-500;
}

.btn-danger-no-rounded {
  @apply box-equal gap-2  border border-danger-500  font-semibold text-danger-500;
}

.container-table-shadow {
  box-shadow:
    0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.container-modal-shadow {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.table-card {
  border-color: #e5e5e5;
  @apply container-table-shadow rounded-xl border bg-white py-6;
}
.table-card-no-pt {
  border-color: #e5e5e5;
  @apply container-table-shadow rounded-xl border bg-white pb-6;
}
.table-card-no-pt-no-shadow {
  border-color: #e5e5e5;
  @apply rounded-xl border bg-white;
}

.bg-primaku-neutral-custom-200 {
  background: #fafafa;
}

.form-card {
  @apply container-table-shadow rounded-xl border border-neutral-200 bg-white py-4;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  @apply border border-neutral-400;
}
input[type="checkbox"]:checked {
  @apply border-0 bg-primary-700;
}

input[type="checkbox"]:checked:before {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  color: white;
  @apply border-0;
}

input[type="radio"] {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

input[type="radio"]:checked {
  @apply border-primary-700;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  box-shadow: 0 0 0 5px #3984e8;
}

button:disabled {
  @apply cursor-not-allowed bg-neutral-300 text-neutral-400;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply bg-primaku-neutral-300;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.active-label {
  @apply inline-block rounded-full bg-primaku-green-200 px-2 text-sm font-semibold text-primaku-green-400;
}

.green-label {
  @apply inline-block rounded-full bg-primaku-green-100 px-2 text-sm font-semibold text-primaku-green-500;
}

.blue-label {
  @apply inline-block rounded-full bg-primaku-blue-100 px-2 text-sm font-semibold text-primaku-blue-500;
}

.yellow-label {
  @apply inline-block rounded-full bg-primaku-yellow-100 px-2 text-sm font-semibold text-primaku-yellow-500;
}

.gray-label {
  @apply inline-block rounded-full bg-primaku-neutral-300 px-2 text-sm font-semibold text-primaku-neutral-700;
}

.non-active-label {
  @apply inline-block rounded-full bg-neutral-100 px-2 text-sm font-semibold text-neutral-700;
}

.danger-label {
  @apply inline-block rounded-full bg-red-100 px-2 text-sm font-semibold text-red-800;
}

.danger-label-small {
  @apply inline-block rounded-full bg-red-100 px-2 text-xs font-semibold text-red-800;
}

.card-shadow {
  box-shadow:
    0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.container-detail {
  @apply card-shadow rounded bg-white p-6;
}

main {
  @apply min-h-screen;
}

table td,
table tr {
  @apply cursor-pointer;
}

.td-default {
  @apply whitespace-pre-wrap py-[26px] text-sm;
}

.box-disabled-input {
  @apply box-between rounded-[4px] border border-primaku-neutral-400 bg-primaku-neutral-300 px-2 py-[9px] text-primaku-neutral-500;
}

.box-date-counter {
  @apply w-full rounded-lg border border-primaku-neutral-400 bg-primaku-neutral-100 px-2 py-[9px] text-primaku-grey-300;
}

.card {
  @apply rounded-lg border border-primaku-neutral-400 px-4 py-3;
}

.card-no-px {
  @apply rounded-lg border border-primaku-neutral-400 py-3;
}

.detail-page-item {
  @apply grid grid-cols-3 border-t border-primaku-neutral-400 py-[25px] text-sm font-bold;
}
.detail-page-item-no-border {
  @apply grid grid-cols-3 border-primaku-neutral-400 py-[25px] text-sm font-bold;
}
.detail-page-item-no-border-padding {
  @apply grid grid-cols-3 border-primaku-neutral-400 text-sm font-bold;
}

.racikan {
  @apply bg-primaku-red-200 text-primaku-red-500;
}
.obat {
  @apply bg-primaku-blue-100 text-primaku-blue-500;
}
.alat-kesehatan {
  @apply bg-primaku-green-200 text-primaku-green-300;
}
.disposable {
  @apply bg-primaku-green-200 text-primaku-green-300;
}

.box-field {
  @apply box-equal mb-2 gap-3 rounded-[4px] border border-primaku-neutral-400 px-2 py-[9px];
}

.box-field_item {
  @apply box-equal gap-1 rounded-[2px] border border-primaku-grey-50 bg-primaku-neutral-100 px-1 py-[2px] text-xs;
}

ul.dashed {
  list-style-type: "- ";
}

table tr {
  @apply hover:bg-gray-100;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
}

// input[type="time"]::-webkit-calendar-picker-indicator {
//   background: none;
// }

// input[type="date"]::-webkit-calendar-picker-indicator {
//   background: none;
// }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
